<div class="row banner">
	<section class="banner-descroption">
		<h1>使用DoctorJS</h1>
		<p>你的线上JS医生，发现平时无法碰到的JS Error,监控Web APP的线上状态，给予用户更完美的体验！</p>
	</section>
</div>

<div class="row features-container">
	<div class="features">
		<div class="feature">
			<img src="/assets/feature1.png" />
			<h2>完美的图表</h2>
			<p>错误状态和趋势 <br /> 一目了然</p>
		</div>
		<div class="feature">
			<img src="/assets/feature2.png" />
			<h2>详细的记录</h2>
			<p>与跟踪报告 <br /> 高效排错</p>
		</div>
		<div class="feature">
			<img src="/assets/feature3.png" />
			<h2>实时的数据</h2>
			<p>数据实时更新 <br /> 迅速反馈报告</p>
		</div>
	</div>
</div>

<div class="row getting-started-container">
	<button type="button" class="btn btn-success getting-started">开始使用</button>
</div>

<div class="row login-form-container">
	<div class="login-form">
		<%= form_tag sessions_path do -%>

		  <%= text_field_tag :login, params[:login], :class => "form-control", :placeholder => "用户名" %>
		  <%= password_field_tag :password, params[:password], :class => "form-control", :placeholder => "密码" %>
		  <button type="submit" class="btn btn-default">登录</button>
		<% end %>
	</div>
</div>



