<div class="row dashbord-container">
	<div class="dashbord">
		<div class="side-panel">
			<ul class="projects">
				<% @project.each do |p| %>
					<li class="project">
						<a href="#"><%= "#{p.name}" %></a>
					</li>
				<% end %>
			</ul>
			<div class="add-project">
				<span class="add-icon">+</span><a href="#">添加一个新项目</a>
			</div>
		</div>
		<div class="content">
			<div class="project-dashbord">
				<h2>GuruDigger</h2>
				<span>http://gurudigger.com</span>
				<div class="project-gragh">
					<img src="/assets/table.png" /> 
				</div>
				<div class="time-period">
					<button type="button" class="btn btn-default">本日</button>
					<button type="button" class="btn btn-success">本周</button>
					<button type="button" class="btn btn-default">本月</button>
				</div>
			</div>
		</div>
	</div>	
</div> 

