<!DOCTYPE html>
<html>
<head>
  <title>DoctorJS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-md-10">
				<a><img src="/assets/logo.png" /></a>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-default login-btn"><img src="/assets/user.png" />登录</button>
			</div>
		</div>
	</div>
  	<%= yield %>
  </div>
</body>
</html>
